<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>駐車場</th>
      <th>住所</th>
      <th>開始時間</th>
      <th>終了時間</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.id, reservation_path(reservation) %></td>
        <td><%= reservation.parking.try(:name) %></td>
        <td><%= reservation.parking.try(:address) %></td>
        <td><%= reservation.start_at %></td>
        <td><%= reservation.end_at %></td>
        <td>
          <% if view_approve_btn %>
          <%= link_to "承認/拒否",
                      edit_reservation_path(reservation), :class => 'btn btn-mini' %>
          <% end %>
          <% if view_cancel_btn %>
          <%= link_to "取り消し",
                      reservation_path(reservation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
