<!DOCTYPE html>
<html>
<head>
  <title>Fubuki</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user %>
  <%= link_to t("helpers.links.logout"), login_path(@current_user), class: "btn btn-warning", style: "float: right;", method: :delete %>
<% end %>
<div id="main">
  <%= flash_messages(flash) %>
  <%= yield %>
</div>
</body>
</html>
